root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.sh]
indent_style = tab
indent_size = 4
shell_variant = bash
switch_case_indent = true
binary_next_line = true

[**/bin/**]
indent_style = tab
indent_size = 4
shell_variant = bash
switch_case_indent = true
binary_next_line = true

[*.{json,yml,yaml,toml}]
indent_style = space
indent_size = 2
