name: ci
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    types: [opened, reopened, synchronize]
jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: shellcheck
        run: shellcheck bin/* lib/*

  test-stack:
    needs: lint
    strategy:
      matrix:
        stack: [heroku-22, heroku-24]
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - name: run stack test
      run: bash test/test-stack.sh ${{ matrix.stack }}
      env:
        REPO_OWNER: heroku
        REPO_PROJECT: heroku-integration-service-mesh
